@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}
@layer components {
  body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
  h1 {
    transform: skewX(-10deg);
  }
}
